// Switcher
.row
  .col-sm-12
    %ul.dashboard-panel
      %li.current
        %a.dashboard-panel-link{:href => "#"} Overview
      %li.filter-holder
        .hover-select-box.filter-mod
          %select.selectpicker.filterSelect
            %option{"data-hidden" => "true", :value => "-1"}
            %option{:value => "Gross Revenue"}
              Gross RevenueФ
            %option{:value => "Avg. order"}
              Avg. order
            %option{:value => "Avg. revenue per customer"}
              Avg. revenue per customer
            %option{:value => "Sales per visitor"}
              Sales per visitor
            %option{:value => "Avg. Customer Lifetime Value"}
              Avg. Customer Lifetime Value
            %option{:value => "Shipping cost as a percentage of total revenue"}
              Shipping cost as a percentage of total revenue
        %a.dashboard-panel-link{:href => "#"} Finance

      %li.filter-holder
        .hover-select-box.filter-mod
          %select.selectpicker.filterSelect
            %option{"data-hidden" => "true", :value => "-1"}
            %option{:value => "Gross Revenue"}
              Gross Revenue
            %option{:value => "Avg. order"}
              Avg. order
            %option{:value => "Avg. revenue per customer"}
              Avg. revenue per customer
            %option{:value => "Sales per visitor"}
              Sales per visitor
            %option{:value => "Avg. Customer Lifetime Value"}
              Avg. Customer Lifetime Value
            %option{:value => "Shipping cost as a percentage of total revenue"}
              Shipping cost as a percentage of total revenue
        %a.dashboard-panel-link{:href => "#"} Customers
      %li.filter-holder
        .hover-select-box.filter-mod
          %select.selectpicker.filterSelect
            %option{"data-hidden" => "true", :value => "-1"}
            %option{:value => "Gross Revenue"}
              Gross Revenue
            %option{:value => "Avg. order"}
              Avg. order
            %option{:value => "Avg. revenue per customer"}
              Avg. revenue per customer
            %option{:value => "Sales per visitor"}
              Sales per visitor
            %option{:value => "Avg. Customer Lifetime Value"}
              Avg. Customer Lifetime Value
            %option{:value => "Shipping cost as a percentage of total revenue"}
              Shipping cost as a percentage of total revenue
        %a.dashboard-panel-link{:href => "#"} Products

// Header
.row.dashboard-title-row
  .col-sm-6
    %h2
      {{vm.project.name}} Dashboard
  .col-sm-6
    .pull-right.datepicker-v1.datepickerComponent
      .pull-left.datepicker-parent
        %input.form-control.datePicker.form-control-small{:type => "text"}/
      .pull-left
        %select.selectpicker.graphFilterDate
          %option{"data-hidden" => "true", :value => "-1"}
          %option{:selected => "", :value => "0"}
            Current month
          %option{:value => "1"}
            Previous month
          %option{:value => "2"}
            Last 3 month
          %option{:value => "3"}
            Last 6 month
          %option{:value => "4"}
            Last year
          %option{:value => "5"}
            All time

// Current status
.graph-unit-holder
  .graph-unit
    .graph-unit-large
      %h5.graph-name
        Current status of your primary data
      .graph-filters.graph-filter-v1
        .btn-group{:role => "group"}
          %input#graph_filter_1{:checked => "", :hidden => "", :name => "graph_filter", :type => "radio", :value => "day"}/
          %label.btn.btn-default.first{:for => "graph_filter_1", :type => "button"} Day
          %input#graph_filter_2{:hidden => "", :name => "graph_filter", :type => "radio", :value => "week"}/
          %label.btn.btn-default{:for => "graph_filter_2", :type => "button"} Week
          %input#graph_filter_3{:hidden => "", :name => "graph_filter", :type => "radio", :value => "month"}/
          %label.btn.btn-default.last{:for => "graph_filter_3", :type => "button"} Month
      .graph-block
        .graph_3.areaChartFamily_1.d3graph.hide_x_axis
          #tooltip.graph-tooltip-holder.hidden_
            #tooltip_dot.tooltip-dot
            #tooltip_content.graph-tooltip
