.header.page-header.navbar.navbar-default
  .container-fluid.globalwidth
    .navbar-header
      %button.navbar-toggle.collapsed{'data-target'=>".bs-navbar-collapse", 'data-toggle' => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .navbar-project-switch
        %a.navbar-brand{:href => "#"} Dynamica

        .hover-select-box(ng-show="$state.current.name != 'projects.list'")
          .dropdown
            %button.btn.btn-default.dropdown-toggle(data-toggle = "dropdown" type = "button")
              {{ project.name }}
              %span.caret
            %ul.dropdown-menu.dropdown_item_wide
              %li(ng-repeat="p in user.projects" ng-show="p.id != project.id")
                %a(href = '' ui-sref = "projects.view({slug: p.slug, id: p.id })")
                  {{ p.name }}


    %nav.collapse.navbar-collapse.bs-navbar-collapse
      %ul.nav.navbar-nav
        %li{'ui-sref-active' => "active"}
          %a{'ui-sref' => "projects.list"}= t('layouts.application.projects')

      %ul.nav.navbar-right.hidden-xs{id: 'user_dropdown'}
        %li
          .user.dropdown
            .arrow
            %a.user-toggle.dropdown-toggle{href: ""}
              %span.user-pic
                %img.img-circle{'ng-src' => "https://placeholdit.imgix.net/~text?txtsize=33&txt=AVAT&w=40&h=40",width: '40px', height: '40px'}
              %span.user-name{id: 'user_dropdown'}
                {{user.display_name}}
                %i.icon.fa.fa-angle-down{id: 'user_dropdown'}
            .user-menu.dropdown-menu.right
              %ul
                %li
                  %a(href = '' ui-sref = "profile")= t('layouts.application.profile')
                %li.clear
                  %a(href = '/users/sign_out')= t('devise.sign_out')
