.header.page-header.navbar.navbar-default
  .container-fluid.globalwidth
    .navbar-header
      %button.navbar-toggle.collapsed{'data-target'=>".bs-navbar-collapse", 'data-toggle' => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .navbar-project-switch
        %a.navbar-brand{:href => "#"} Dynamica


    %nav.collapse.navbar-collapse.bs-navbar-collapse
      %ul.nav.navbar-nav
        %li(ui-sref-active = "active")
          %a{'ui-sref' => "projects.list"}= t('layouts.application.projects')

        %li(ui-sref-active = 'active' ng-show="project")
          %a(ui-sref = "projects.settings({slug: project.slug})")= t('layouts.application.project_settings')

      %ul.nav.navbar-right.hidden-xs{id: 'user_dropdown'}
        %li
          .user.dropdown
            .arrow
            %a.user-toggle.dropdown-toggle{href: ""}
              %span.user-pic
                %img.img-circle{'ng-src' => "{{user.avatar.avatar.url}}",width: '40px', height: '40px'}
              %span.user-name{id: 'user_dropdown'}
                {{user.display_name}}
                %i.icon.fa.fa-angle-down{id: 'user_dropdown'}
            .user-menu.dropdown-menu
              %ul
                %li
                  %a(href = '' ui-sref = "profile.edit")= t('layouts.application.profile')
                %li.clear
                  %a(href = '/users/sign_out')= t('layouts.application.log_out')
