.section.case.case-projects
  .case-capt
    %a{href: '', 'ui-sref' => "projects.new", "ng-click" => "vm.project = {}"} #{t('projects.index.new')}
  .case-cnt
    .items
      .row
        .col-sm-6{'ng-repeat' => "project in vm.projects"}
          .item
            / Project cart
            .title
              %a(href = '' ui-sref = "projects.view({slug: project.slug, id: project.id })")
                {{ project.name }} # {{project.id}}
            .descript
              .demo{'ng-show' => "project.demo"}
                #{t('projects.project.no_forecasts_demo')}
              .forecast{'ng-show' => "project.last_forecast"}
                {{project.last_forecast}}
              .no_forecast{'ng-show' => "!project.last_forecast"}
                #{t('projects.project.no_forecasts')}
              %p(ng-show="project.expired") subscription expired
            .users
              %ul
                %li.user-pic{'ng-repeat' => "user in project.users"}
                  %img.img-circle{'ng-src' => "https://placeholdit.imgix.net/~text?txtsize=33&txt=AVAT&w=40&h=40", width: '40px', height: '40px'}

            / Project dropdown menu
            .setting-wrap
              .setting.dropdown{id: "setting_menu_{{project.id}}"}
                %a.setting-toggle.dropdown-toggle{href: "", 'ng-click' => "vm.open_setting_menu(project)"}
                  %i.icon.fa.fa-cog{id: "setting_menu"}
                .setting-menu.dropdown-menu.right
                  %ul
                    %li
                      %a(href='' ui-sref="projects.subscription({slug: project.slug})")= t('projects.project.subscription')
                    -#%li
                      -#%a(href='' ui-sref="projects.settings({slug: project.slug})")= t('projects.project.settings')
                    %li
                      %a(href='' ui-sref="projects.edit({slug: project.slug})")= t('projects.project.edit')
                    %li
                      %a(href='' ng-click="vm.destroy(project)")= t('projects.project.delete')
          .clearfix{'ng-show' => "$index % 3 == 0"}
