%section.case.case-project-add
  .case-capt
    %h1= t('projects.subscription.title')
  .case-cnt
    .row(ng-show="vm.project.expired")
      .subscription-group
        .form-group
          %input.form-control(ng-checked="vm.project.sub_type=='yearly'" type='radio' ng-model='vm.new_sub_type' value='yearly') 1 year 4$
          %input.form-control(ng-checked="vm.project.sub_type=='monthly'" type='radio' ng-model='vm.new_sub_type' value='monthly') 1 month 5$


        .form-group
          %button.btn.btn-default(ng-click='vm.change(vm.new_sub_type)' ng-disabled='vm.requested')= t('projects.subscription.change_type')

    .row
      .col-xs-12
      Подписка {{ vm.project.subscription.sub_type }} для проекта {{ vm.project.name }} до {{ vm.project.expire_at | date}}



      .col-xs-12
        %table.table.table-borderd
          %thead
            %td ID
            %td Name
            %td Price
            %td Status
            %td Date
            %td
          %tbody
            %tr(ng-repeat='history in vm.history')
              %td {{ history.id }}
              %td {{ history.name }}
              %td {{ history.price }}
              %td {{ history.status }}
              %td
                %a.btn.btn-default(href="{{ history.confirmation_url }}" ng-show="history.confirmation_url" _target='_blank')= t('projects.subscriptions.confirm_charge')
