.col-lg-3.col-md-4.col-sm-6(style='margin: 5px 0px;')
  .graph-unit
    %a.graph-u-link
    %h5.graph-name= t("projects.show.#{params[:chart]}")
    .graph-value
    .graph-block
      #order_statuses.graph_1.donutChart_1.d3graph.hide_x_axis
