.page
  .abs_holder.pricing_section{"data-0" => "transform: translate(0%,100%);", "data-10000" => "transform: translate(0%,0%);", "data-13000" => "transform: translate(0%,0%);", "data-14000" => "transform: translate(0%,-100%);", "data-9000" => "transform: translate(0%,100%);"}
    .gl_table
      .gl_table_cell
        %section{"data-0" => "transform: translate(-50%,100%);", "data-10000" => "transform: translate(-50%,0%);", "data-13000" => "transform: translate(-50%,0%);", "data-14000" => "transform: translate(-50%,-100%);", "data-9000" => "transform: translate(-50%,100%);", :style => "left: 50%;"}
          .container-fluid.wide_block
            .row.dashboard-title-row.land_v1
              .col-sm-12
                %h2.text-center Pricing
                .pricing_block
                  .pricing_img{"data-0" => "transform: translate(-100%,0%); opacity: 0;", "data-10000" => "transform: translate(-100%,0%); opacity: 0;", "data-11000" => "transform: translate(0%,0%); opacity: 1;", "data-12000" => "transform: translate(0%,0%); opacity: 1;", "data-14000" => "transform: translate(0%,-100%); opacity: 1;"}
                    %img{:src => "img/iPad_Pro_Smart_Keyboard.png"}/
                  .pricing_form{"data-0" => "transform: translate(100%,0%); opacity: 0;", "data-10500" => "transform: translate(100%,0%); opacity: 0;", "data-11500" => "transform: translate(0%,0%); opacity: 1;", "data-12500" => "transform: translate(0%,0%); opacity: 1;", "data-13500" => "transform: translate(0%,-100%); opacity: 1;"}
                    .pricing_price $5
                    .pricing_period month
                    %ul.pricing_features
                      %li Store metrics
                      %li Unlimited stores
                      %li Google analytics
                      %li Detailed Metrics
                      %li Support
                    .pricing_controls
                      %a.btn.btn-lg.btn-danger.pricing_btn{:href => "#"} Get started for free
                    .pricing_share
                      For annual payment
                      %br 48$ per year
