.page
  .abs_holder.testimonials_section{"data-0" => "transform: translate(0%,100%);", "data-10000" => "transform: translate(0%,-100%);", "data-8000" => "transform: translate(0%,100%);"}
    .gl_table
      .gl_table_cell
        %section{"data-0" => "transform: translate(-50%,0%);", "data-10000" => "transform: translate(-50%,-100%);", "data-9000" => "transform: translate(-50%,0%);", :style => "left: 50%;"}
          .container-fluid.wide_block
            .row.dashboard-title-row.land_v1
              .col-sm-12
                %h2.text-center Testimonials
                .textimonials_slider_holder
                  .swiper-container.testimonialSlider
                    .swiper-wrapper
                      .swiper-slide
                        .testimonial_block
                          .testimonial_text
                            %p Dynamica gives us incredible insights into our monthly numbers and growth, and provides us with invaluable information that allows us to improve our business in ways that weren't possible for us before.
                          .testimonial_author
                            %img{:src => "img/testemonial_author.png"}/
                          .testimonial_author_name
                            Daniel Shultz
                            %br Owner of Black Dark Shop
                      .swiper-slide
                        .testimonial_block
                          .testimonial_text
                            %p Dynamica gives us incredible insights into our monthly numbers and growth, and provides us with invaluable information that allows us to improve our business in ways that weren't possible for us before.
                          .testimonial_author
                            %img{:src => "img/testemonial_author.png"}/
                          .testimonial_author_name
                            Daniel Shultz
                            %br Owner of Black Dark Shop
                      .swiper-slide
                        .testimonial_block
                          .testimonial_text
                            %p Dynamica gives us incredible insights into our monthly numbers and growth, and provides us with invaluable information that allows us to improve our business in ways that weren't possible for us before.
                          .testimonial_author
                            %img{:src => "img/testemonial_author.png"}/
                          .testimonial_author_name
                            Daniel Shultz
                            %br Owner of Black Dark Shop
                      .swiper-slide
                        .testimonial_block
                          .testimonial_text
                            %p Dynamica gives us incredible insights into our monthly numbers and growth, and provides us with invaluable information that allows us to improve our business in ways that weren't possible for us before.
                          .testimonial_author
                            %img{:src => "img/testemonial_author.png"}/
                          .testimonial_author_name
                            Daniel Shultz
                            %br Owner of Black Dark Shop
                      .swiper-slide
                        .testimonial_block
                          .testimonial_text
                            %p Dynamica gives us incredible insights into our monthly numbers and growth, and provides us with invaluable information that allows us to improve our business in ways that weren't possible for us before.
                          .testimonial_author
                            %img{:src => "img/testemonial_author.png"}/
                          .testimonial_author_name
                            Daniel Shultz
                            %br Owner of Black Dark Shop
                      .swiper-slide
                        .testimonial_block
                          .testimonial_text
                            %p Dynamica gives us incredible insights into our monthly numbers and growth, and provides us with invaluable information that allows us to improve our business in ways that weren't possible for us before.
                          .testimonial_author
                            %img{:src => "img/testemonial_author.png"}/
                          .testimonial_author_name
                            Daniel Shultz
                            %br Owner of Black Dark Shop
                  .swiper-controls
                    .swiper-button-next.fa.fa-long-arrow-left
                    .swiper-button-prev.fa.fa-long-arrow-right
