.page
  .abs_holder.demo_section{"data-0" => "transform: translate(0%,100%);", "data-16000" => "transform: translate(0%,100%);", "data-17000" => "transform: translate(0%,0%);", "data-19000" => "transform: translate(0%,0%);"}
    .gl_table
      .gl_table_cell
        %section{"data-0" => "transform: translate(-50%,100%);", "data-13000" => "transform: translate(-50%,100%);", "data-14000" => "transform: translate(-50%,0%);", :style => "left: 50%;"}
          .container-fluid.wide_block
            .row.dashboard-title-row.land_v1
              .col-sm-12
                %h2.text-center Look at demo at first
                .demo_controls
                  %a.btn.btn-lg.btn-danger.pricing_btn{:href => "#"} Live demo
    .demo_block{"data-0" => "transform: translate(0%,100%);", "data-16500" => "transform: translate(0%,100%);", "data-17500" => "transform: translate(0%,0%);"}
      %img{:src => "img/Ipad.png"}/
    .page-footer
      .container-fluid.wide_block
        .footer_logo
          %a.navbar-brand{:href => "#"} Dynamica
        .land_footer-menu
          %ul
            %li
              %a{:href => "#"} Tour
            %li
              %a{:href => "#"} Demo
            %li
              %a{:href => "#"} Pricing
          %ul
            %li
              %a{:href => "#"} About
            %li
              %a{:href => "#"} Blog
            %li
              %a{:href => "#"} Support
          %ul
            %li
              %a{:href => "#"} What's New
            %li
              %a{:href => "#"} Terms
        %ul.footer_share
          %li
            %a.f_sh_link{:href => "#"}
              %i.fa.fa-facebook
