.page
  .abs_holder.major_data_section{"data-0" => "transform: translate(0%,100%);", "data-6000" => "transform: translate(0%,100%);", "data-7000" => "transform: translate(0%,0%);", "data-8000" => "transform: translate(0%,0%);", "data-9000" => "transform: translate(0%,-100%);"}
    .gl_table
      .gl_table_cell
        %section.major_data_section{"data-0" => "transform: translate(-50%,100%);", "data-6000" => "transform: translate(-50%,100%);", "data-7000" => "transform: translate(-50%,0%);", "data-8000" => "transform: translate(-50%,0%);", "data-9000" => "transform: translate(-50%,-100%);", :style => "left: 50%;"}
          .container-fluid.narrow_block{:style => "position: relative; z-index: 10;"}
            .row.dashboard-title-row.land_v1
              .col-sm-12
                %h2.text-center Most relevant metrics
                %ul.relevant_list
                  %li
                    .relevant_block
                      .relevant_caption Finance
                      %ul.relevant_metrics
                        %li Monthly Recurring
                        %li Net Revenue
                        %li Average Revenue Per User
                        %li Failed Charges
                        %li Lifetime Value
                  %li
                    .relevant_block
                      .relevant_caption Customers
                      %ul.relevant_metrics
                        %li Monthly Recurring
                        %li Net Revenue
                        %li Average Revenue Per User
                        %li Failed Charges
                        %li Lifetime Value
                  %li
                    .relevant_block
                      .relevant_caption Products
                      %ul.relevant_metrics
                        %li Monthly Recurring
                        %li Net Revenue
                        %li Average Revenue Per User
                        %li Failed Charges
                        %li Lifetime Value
          .container-fluid
            .relevant_img{"data-0" => "transform: translate(0%,100%);", "data-7000" => "transform: translate(0%,100%);", "data-9000" => "transform: translate(0%,-100%);"}
              %img{:src => "img/relevant_metrics.png"}/
