.page
  .abs_holder.major_data_section{"data-0" => "transform: translate(0,100%);", "data-2000" => "transform: translate(0,100%);", "data-3000" => "transform: translate(0%,0%);", "data-6000" => "transform: translate(0%,0%);", "data-7000" => "transform: translate(0,-100%);"}
    .gl_table
      .gl_table_cell
        %section{"data-0" => "transform: translate(-50%,100%); ", "data-2000" => "transform: translate(-50%,100%);", "data-3000" => "transform: translate(-50%,0%);", "data-6000" => "transform: translate(-50%,0%);", "data-7000" => "transform: translate(-50%,-100%);", :style => "left: 50%; "}
          .container-fluid.wide_block
            .row.dashboard-title-row.land_v1
              .col-sm-12
                %h2.text-center{"data-0" => "transform: translate(0%,300%); opacity: 0;", "data-3400" => "transform: translate(0%,300%); opacity: 0;", "data-3600" => "transform: translate(0%,0%); opacity: 1;", "data-5600" => "transform: translate(0%,0%); opacity: 1;", "data-6000" => "transform: translate(0%,-200%); opacity: 0;"} Store overview
                .overview_block
                  .overview_img
                    %img{:src => "img/Ipad.png"}/
                  .overview_tip.ov_tip_left{"data-0" => "transform: translate(0%,100%); opacity: 0;", "data-3600" => "transform: translate(0%,100%); opacity: 0;", "data-3800" => "transform: translate(0%,0%); opacity: 1;", "data-5600" => "transform: translate(0%,0%); opacity: 1;", "data-6000" => "transform: translate(0%,-100%); opacity: 0;"}
                    %p Dashboard allow you to track store performance. Most important data about finances, customers and your products.
                  .overview_tip.ov_tip_right{"data-0" => "transform: translate(0%,100%); opacity: 0;", "data-3800" => "transform: translate(0%,100%); opacity: 0;", "data-4000" => "transform: translate(0%,0%); opacity: 1;", "data-5600" => "transform: translate(0%,0%); opacity: 1;", "data-6000" => "transform: translate(0%,-100%); opacity: 0;"}
                    %p Your will know your customers and how often they making orders.
                    %p Whether it’s new or returned users. Don’t forget to check out average sales.
