.page.full_h_page
  %header.page-header.navbar.navbar-default{"data-0" => "padding: 50px 0 20px; background-color: rgba(255,255,255,1);", "data-1000" => "padding: 10px 0 10px; background-color: rgba(255,255,255,.6);", "data-6000" => "padding: 10px 0 10px; background-color: rgba(255,255,255,.6); transform: translate(0%,0%);", "data-7000" => "padding: 10px 0 10px; background-color: rgba(255,255,255,.6); transform: translate(0%, -100%);"}
    .container-fluid.globalwidth
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-project-switch
          %a.navbar-brand(href = "") Dynamica
      %nav.collapse.navbar-collapse.bs-navbar-collapse
        %ul.nav.navbar-right.hidden-xs.navbar-anon
          %li
            %a.menu_link(href = "")= t('landing.menu.live_demo')
          %li
            %a.menu_link(href = "" ng-click="vm.test()")= t('landing.menu.pricing')
          %li
            %a.btn.login_btn(ng-click="vm.modal('auth_popup','show')")= t('landing.menu.log_in')
  .abs_holder
    .gl_table
      .gl_table_cell
        %section.land_hero{"data-0" => "top: 50%;", "data-1000" => "top: 50%;", "data-3000" => "top: -100%;"}
          .container-fluid.globalwidth
            .row.dashboard-title-row.land_v1
              .col-sm-12
                %h1.text-center
                  Carefully made analytics
                  %br for your Shopify store
                .text-center
                  %a.btn.btn-lg.btn-danger.start_trial_btn(href="https://myshopify.com/admin/oauth/authorize?client_id=#{Dynamica::Settings::Shopify.api_key}&scope=read_orders,read_customers,read_products&redirect_uri=#{Dynamica::Settings::Shopify.redirect_url}&state=#{SecureRandom.hex}")= t('landing.start_trial')
    .hero_graph_block.heroGraph{"data-0" => "transform: translate(0%,100%);", "data-1000" => "transform: translate(0%,0%);", "data-2000" => "transform: translate(0%,-50%);", "data-300" => "transform: translate(0%,0%);", "data-4000" => "transform: translate(0%,-500%);"}
      .graph_3.areaChart_2.d3graph.hide_x_axis(style = "opacity: .2;")
      .graph_3.areaChart_2.d3graph.hide_x_axis(style = "opacity: .4;")
      .graph_3.areaChart_2.d3graph.hide_x_axis
      .graph_tip.g_tip_pink.graph_tip_1{"data-0" => "transform: translate(0%,-200%); opacity: 0;", "data-300" => "transform: translate(0%,-200%);opacity: 0;", "data-600" => "transform: translate(0%,-100%);opacity: 1;"}
        .g_tip_val $389
        .g_tip_date Revenue today
      .graph_tip.g_tip_orange.graph_tip_2{"data-0" => "transform: translate(0%,-200%); opacity: 0;", "data-300" => "transform: translate(0%,-200%);opacity: 0;", "data-600" => "transform: translate(0%,-100%);opacity: 1;"}
        .g_tip_val 43
        .g_tip_date Sales 23 February
