= render 'templates/stores/menu'

/ Big chart date picker
.row.dashboard-title-row
  .col-sm-6
    %h2 {{vm.project.name}} {{vm.translate_chart_name(vm.chart)}}.
  .col-sm-6
    .pull-right.datepicker-v1.datepickerComponent
      .pull-left.datepicker-parent
        %input.form-control.datePicker.form-control-small{:type => "text"}
      .pull-left
        %select.selectpicker.graphFilterDate{'ng-model' => "vm.date_range", 'ng-change' => "vm.set_date_range(vm.date_range)"}
          %option{:selected => true, :value => "0"} Current month
          %option{:value => "1"} Previous month
          %option{:value => "2"} Last 3 month
          %option{:value => "3"} Last 6 month
          %option{:value => "4"} Last year
          %option{:value => "5"} All time

- if Rails.env.development?
  .dashboard-caption{'ng-init' => "vm.debug = false", 'ng-show' => "vm.debug"}
    %pre
      {{vm.range | json}}
    %p Data
    %pre
      {{vm.data | json}}
