.row
  .col-sm-12
    %ul.dashboard-panel
      - if Rails.env.development?
        %li
          %a.dashboard-panel-link{'ng-click' => "vm.toggle_debug()"}
            Debug

      %li(ng-class="{current: vm.state_is('dashboard')}")
        %a.dashboard-panel-link(href='' ui-sref="projects.view({slug: vm.project.slug, id: vm.project.id })")= t('projects.show.overview')

      %li.filter-holder(ng-class="{current: vm.state_is('general')}")
        .hover-select-box
          .dropdown.filterSelect
            %button.btn.btn-default.dropdown-toggle(data-toggle = "dropdown" type = "button")
              = t 'projects.show.general'
              %span.caret
            %ul.dropdown-menu.dropdown-menu_bordered
              %li
                %a(ui-sref="projects.chart({chart: 'total_gross_revenues', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.total_revenu'
              %li
                %a(ui-sref="projects.chart({chart: 'shipping_cost_as_a_percentage_of_total_revenue', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.shipping_cost_as_a_percentage_of_total_revenue'
              %li
                %a(ui-sref="projects.chart({chart: 'average_order_value', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.average_order_value'
              %li
                %a(ui-sref="projects.chart({chart: 'average_order_size', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.average_order_size'

      %li.filter-holder(ng-class="{current: vm.state_is('customers')}")
        .hover-select-box
          .dropdown.filterSelect
            %button.btn.btn-default.dropdown-toggle(data-toggle = "dropdown" type = "button")
              = t 'projects.show.customers'
              %span.caret
            %ul.dropdown-menu.dropdown-menu_bordered
              %li
                %a(ui-sref="projects.chart({chart: 'customers_number', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.customers_number'
              %li
                %a(ui-sref="projects.chart({chart: 'new_customers_number', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.new_customers_number'
              %li
                %a(ui-sref="projects.chart({chart: 'repeat_customers_number', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.repeat_customers_number'
              %li
                %a(ui-sref="projects.chart({chart: 'average_revenue_per_customer', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.average_revenue_per_customer'
              %li
                %a(ui-sref="projects.chart({chart: 'sales_per_visitor', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.sales_per_visitor'
              %li
                %a(ui-sref="projects.chart({chart: 'average_customer_lifetime_value', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.average_customer_lifetime_value'
              %li
                %a(ui-sref="projects.chart({chart: 'unique_users_number', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.unique_users_number'
              %li
                %a(ui-sref="projects.chart({chart: 'visits', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.visits'

      %li.filter-holder(ng-class="{current: vm.state_is('products')}")
        .hover-select-box
          .dropdown.filterSelect
            %button.btn.btn-default.dropdown-toggle(data-toggle = "dropdown" type = "button")
              = t 'projects.show.inventory'
              %span.caret
            %ul.dropdown-menu.dropdown-menu_bordered
              %li
                %a(ui-sref="projects.chart({chart: 'products_in_stock_number', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.products_in_stock_number'
              %li
                %a(ui-sref="projects.chart({chart: 'items_in_stock_number', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.items_in_stock_number'
              %li
                %a(ui-sref="projects.chart({chart: 'percentage_of_inventory_sold', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.percentage_of_inventory_sold'
              %li
                %a(ui-sref="projects.chart({chart: 'percentage_of_stock_sold', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.percentage_of_stock_sold'
              %li
                %a(ui-sref="projects.chart({chart: 'products_number', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.products_number'
              %li
                %a(ui-sref="projects.chart({chart: 'products_revenue', slug: project.slug, from: vm.range.from, to: vm.range.to})")= t 'projects.show.products_revenue'

