@font-face {
    font-family: 'futura_new';
    src: url('/fonts/futura-new-book.eot');
    src: url('/fonts/futura-new-book.eot?#iefix') format('embedded-opentype'),
         url('/fonts/futura-new-book.woff2') format('woff2'),
         url('/fonts/futura-new-book.woff') format('woff'),
         url('/fonts/futura-new-book.ttf') format('truetype'),
         url('/fonts/futura-new-book.svg#futura_newbook') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'futura_new';
    src: url('/fonts/futura-new-medium.eot');
    src: url('/fonts/futura-new-medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/futura-new-medium.woff2') format('woff2'),
         url('/fonts/futura-new-medium.woff') format('woff'),
         url('/fonts/futura-new-medium.ttf') format('truetype'),
         url('/fonts/futura-new-medium.svg#futura_newmedium') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'futura_new';
    src: url('/fonts/futura-new-demi.eot');
    src: url('/fonts/futura-new-demi.eot?#iefix') format('embedded-opentype'),
         url('/fonts/futura-new-demi.woff2') format('woff2'),
         url('/fonts/futura-new-demi.woff') format('woff'),
         url('/fonts/futura-new-demi.ttf') format('truetype'),
         url('/fonts/futura-new-demi.svg#futura_newdemi') format('svg');
    font-weight: 800;
    font-style: normal;
}