@font-face {
  font-family: 'futura_new';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#futura_newbook') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'futura_new';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf') format('truetype'),
  url('../fonts/Roboto-Medium.svg#futura_newmedium') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'futura_new';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf') format('truetype'),
  url('../fonts/Roboto-Bold.svg#futura_newdemi') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'futura_new';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype'),
  url('../fonts/Roboto-Light.svg#futura_newdemi') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PTRoubleSans';
  src: url('../fonts/PTRoubleSans.eot');
  src: url('../fonts/PTRoubleSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTRoubleSans.woff') format('woff'),
  url('../fonts/PTRoubleSans.ttf') format('truetype'),
  url('../fonts/PTRoubleSans.svg#futura_newdemi') format('svg');
  font-weight: 300;
  font-style: normal;
}

