<div id="promo" class="container">

  <div class="promo-block">
    <h1>
      FORECAST YOUR SALES OR OTHER METRICS
      <br />THROUGH DATA ANALYTICS
    </h1>
  </div>

  <div class="promo-block">
    <p>It's simple</p>
    <div class="row">
      <div class="col-md-4">
        <h1><i class="glyphicon glyphicon-export"></i></h1>
        Export your data to CSV or JSON
        </div>
      <div class="col-md-4">
        <h1><i class="glyphicon glyphicon-cloud-upload"></i></h1>
        Upload data to our server
      </div>
      <div class="col-md-4">
        <h1><i class="glyphicon glyphicon-signal"></i></h1>
        Get your result
      </div>
    </div>
  </div>

  <div class="promo-block">
    <h3>HOW IT WORKS</h3>
    <p>We can analyse any structured data. It could be sales, user registrations, PPC campaign expences and other. You can generate CSV file or use our API to submit data as JSON. The software will analyse your data and create math function which will make a forecast.</p>
  </div>

  <div class="promo-block">
    <h3>HOW ACCURATE IS IT</h3>
    <p>Results can differ. We give you trial period to try our tool and figure out if it works for you.</p>
  </div>

  <div class="promo-block">
    <h3>PRICING</h3>
    <p>TBA</p>
  </div>

</div>