.table-content(ng-show="vm.products_view == 'rule_80_20'")

  .table-row.col_wide
    .wide-cell-content
      .table-section-title 80% made of revenue


  .table-row{'dir-paginate' => "product in vm.products_80 | itemsPerPage: 300"}
    .table-cell.col_1 {{ product.title }}
    .table-cell.col_5.col_right {{ product.sales }}
    .table-cell.col_6.col_right
      .seller_val ₽ {{ product.gross_revenue | dynCurrency }}
    .table-cell.col_7.col_right {{ product.price | dynCurrency }}
    .table-cell.col_4 {{ product.created_at }}


  .table-row.col_wide
    .wide-cell-content
      .table-section-title 20% made of revenue

  .table-row{'dir-paginate' => "product in vm.products_20 | itemsPerPage: 300"}
    .table-cell.col_1 {{ product.title }}
    .table-cell.col_5.col_right {{ product.sales }}
    .table-cell.col_6.col_right
      .seller_val ₽ {{ product.gross_revenue | dynCurrency}}
    .table-cell.col_7.col_right $ {{ product.price | dynCurrency}}
    .table-cell.col_4 {{ product.created_at }}

