# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0e2d1c1065cf01c212cace61a4d6e6bf21a6c6ac1a621effae04a77112f3b471cfb48484d232878d2dbedb8b25fbc8853a955edad1dfa29afc83c20d971f33fa

test:
  secret_key_base: 2e87a862496a6a4183ed4858255f4d546cf6112a2f34b78ed3ce3a537fcd041ba79ff0c1cce283f34274e56c01203c7d52a89df49bb0e378a1dcde659a09dfb8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>