# dev-dynamica
development: &default
  api_key: bc1d20c643bf2845c231eefabbdde69e
  secret: 20c46808eaa7f0adc86bb5525d85dfdf
  redirect_url: http://localhost:3000/third_party/shopify/oauth/callback

# dev-dynamica
test:
  <<: *default

# staging-dynamica
staging:
  api_key: xxx
  secret: xxx

# dynamica
production:
  api_key: bc1d20c643bf2845c231eefabbdde69e
  secret: 20c46808eaa7f0adc86bb5525d85dfdf
  redirect_url: http://localhost:3000/third_party/shopify/oauth/callback