.page-footer {

}

@media (min-width: 768px) {
  .page {
    position: relative;
    padding-bottom: 125px;
  }

  .page-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
