.page-header {
	margin: 0;
	padding: 40px 0;
	border: 0;
	border-bottom: 2px solid #ececec;
	z-index: 104;
	.navbar-header {
		margin: 0!important;
	}
	.navbar-collapse {
		margin-bottom: -30px;
		border: 0;
	}
	.navbar-toggle {
		margin: 3px 0;
	}
	.navbar-brand {
		height: 40px;
		padding: 0;
		margin-left: 0!important;
		margin-right: 80px;
		font-size: 22px;
		font-weight: 800;
		line-height: 40px;
	}
	.navbar-nav {
		li {
			height: 40px;
			margin: 0 28px;
			line-height: 40px;
		}
		a {
			display: inline;
			padding: 0;
			background: none!important;
		}
	}
	.user {
		float: left;
		position: relative;
		.user-toggle {
			color: #777;
			background: transparent!important;
			&:hover {
				color: #333;
			}
			.user-pic {
				display: inline-block;
				width: 40px;
				height: 40px;
				margin-right: 20px;
				vertical-align: middle;
			}
			.user-name {
				display: inline-block;
				font-size: 18px;
				font-weight: 700;
			}
			.icon {
				margin-left: 12px;
				font-size: 22px;
				vertical-align: middle;
			}
		}
		.user-menu {
			@extend .dropdown-arrow;
			.term {
				position: absolute;
				top: 12px;
				right: 8px;
				.time {
					display: inline-block;
					margin: 6px 12px 6px 0;
				}
			}
		}
	}
}