.page-header {
  margin: 0;
  padding: 19px 0;
  border: 0;
  border-bottom: 2px solid #ececec;
  z-index: 104;
  .navbar-header {
    margin: 0 !important;
    //width: 200px !important;
  }
  .navbar-collapse {
    margin-bottom: -30px;
    border: 0;
  }
  .navbar-toggle {
    margin: 3px 0;
  }
  .navbar-project-switch {
    float: left;
    position: relative;
    white-space: nowrap;
    line-height: 40px;
    width: 280px;
    font-size: 15px;

    > span {
      float: left;
      font-size: 17px;
    }
  }
  .navbar-brand {
    height: 40px;
    padding: 0;
    margin-left: 0 !important;
    margin-right: 80px;
    //font-size: 22px;
    font-weight: 800;
    line-height: 40px;
    font-size: 27px;
    color: #333;

    &:hover {
      color: #000;
    }

    .dashboard_page & {
      //font-weight: 700;
      margin-right: 4px;
      //font-size: 20px;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 3px;
    }
  }
  .navbar-nav {
    li {
      height: 40px;
      margin: 0 28px;
      line-height: 40px;
    }
    a {
      display: inline;
      padding: 0;
      background: none !important;
    }
  }
  .user {
    float: left;
    //position: relative;
    .user-toggle {
      position: relative;
      z-index: 16;
      color: #777;
      background: transparent !important;
      &:hover {
        color: #333;
      }
      .user-pic {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        vertical-align: middle;
      }
      .user-name {
        display: inline-block;
        letter-spacing: -.2px;
        //font-size: 18px;
        //font-weight: 700;
      }
      .icon {
        margin-left: 12px;
        font-size: 22px;
        vertical-align: middle;
      }
    }
    .user-menu {
      @extend .dropdown-arrow;
      top: -20px;
      padding-top: 90px;
      z-index: 15;
      right: -20px;
      left: -20px;
      margin: 0;
      width: auto;

      &:after,
      &:before {
        display: none;
      }

      .dropdown-menu {
        li {
          padding: 8px 20px;
        }
      }

      .term {
        position: absolute;
        top: 12px;
        right: 8px;
        .time {
          display: inline-block;
          margin: 6px 12px 6px 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {

  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
}