.box-modal {
	width: 480px;
	padding: 40px;
	background: #fff;
	.box-modal_i {
		padding-top: 10px;
		position: relative;
	}
	.box-modal_close {
		position: absolute;
		top: -10px;
		right: -10px;
		color: #b5afae;
		font-size: 30px;
		line-height: 22px;
		&:hover {
			color: #777;
		}
	}
	.modal-capt {
		margin-bottom: 40px;
		font-size: 20px;
		font-weight: 800;
	}
}

.modal-confirm {
	text-align: center;
	.modal-capt {
		color: #ff7851;
	}
	.descript {
		margin-bottom: 30px;
		font-size: 20px;
		.term {
			display: inline-block;
			height: 100px;
			padding: 0 10px;
			margin-bottom: 20px;
			color: #797979;
			font-size: 70px;
			line-height: 100px;
			background: asset-url('term-bg.png') repeat-x 0 0;
		}
		.divider {
			display: inline-block;
			width: 60px;
			margin: 20px auto;
			border-bottom: 1px solid #d8d8d8;
		}
		.email {
			color: #adadad;
		}
	}
	.accept {
		font-size: 18px;
	}
}

.modal-login {
	.descript {
		font-size: 20px;
	}
	.btn-twitter {
		margin: 0;
	}
}

#modal-csv-example {
	width: 920px;
	@media (max-width: $screen-sm-min) {
		width: 480px;
	}
}

.modal-instruct {
	.modal-capt {
		margin-bottom: 20px;
		color: #ff7851;
		text-align: center;
	}
	.title {
		margin-bottom: 30px;
		font-size: 20px;
		text-align: center;
	}
	.format-items {
		padding-bottom: 20px;
		text-align: center;
	}
	.format-item {
			margin-bottom: 20px;
	}
	.format-title {
		margin-bottom: 14px;
		font-size: 18px;
		font-weight: bold;
	}
	.note-item {
		padding-bottom: 20px;
		p {
			margin-bottom: 0px;
			font-size: 20px;
		}
		.download {
			padding-top: 10px;
			font-size: 18px;
			font-weight: bold;
		}
	}
	.note-title {
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: bold;
	}
}