.case-profile {
	.upload-box {
		.user-pic {
			display: inline-block;
			vertical-align: middle;
			width: 100px;
			height: 100px;
			margin-right: 80px;
			position: relative;
		}
		.btn-delete {
			margin-top: -15px;
			position: absolute;
			top: 50%;
			right: -40px;
			color: #b5afae;
			font-size: 22px;
		}
		.descript {
			display: inline-block;
			padding: 20px 0;
			vertical-align: middle;
			label {
				cursor: pointer;
			}
		}
	}
	.price-box {
		padding: 0 20px;
		margin-bottom: 40px;
		color: #b1b1b1;
	}
	.descript-box {
		a {
			color: #2895f1;
		}
	}
}

input[type="checkbox"]{
    display:none;            
}

input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    opacity: 0.5;
    background: image-url("checkbox-sprite.png") no-repeat;
}
input[type="checkbox"] + label::before {
    background-position: 0px 0px;    
}
input[type="checkbox"]:checked + label::before {
    background-position: 0px -21px;
}

input[type="checkbox"] + label {
  position: relative;
  min-width: 200px;
  span {
    position: absolute;
    left: 26px;
    top: 0;
  }
}
