html, body {
	height: 100%;
}

.page {
	min-width: 320px;
	min-height: 100%;
	overflow: hidden;
}

.globalwidth {
	max-width: 970px;
	margin: 0 auto;
}

.case {
	.case-capt {
		margin-bottom: 30px;
	}
}

.wrap-b {
	padding: 40px;
	border: 1px solid #dfdfdf;
	background: #fff;
}

.nav-pills {
	margin: 0 -20px;
	li {
		padding: 0 20px;
		a {
			padding: 0;
			color: #b0b0b0;
			background: transparent!important;
		}
		&.inactive {
			a {
				color: #e3e2e0;
				cursor: default;
			}
		}
	}
}

.dropdown-menu {
	width: 230px;
	margin: 20px 0 0;
	padding: 12px 0;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 12px rgba(#000,0.175);
	&.right {
		left: auto;
		right: -50px;
	}
	ul {
		margin-bottom: 0;
	}
	li {
		padding: 6px 20px;
		a {
			color: #4f4f4f;
			&:hover {
				color: #000;
			}
		}
	}
}

.dropdown-arrow {
	&:before,
	&:after {
		display: block;
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: -9px;
		right: 50px;
	}
	&:before {
		margin-top: -1px;
		margin-left: -9px;
		margin-right: -1px;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 10px solid #dbdbdb;
	}
	&:after {
		margin-left: -8px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 9px solid #fff;
	}
}

.back {
	margin-bottom: 20px;
	a {
		color: #c2bdb6;
	}
}