.form-control {
  height: 50px;
  padding: 15px 20px;
  color: #4f4f4f;
  &:focus {
    border-color: #c8c8c8;
  }
}

.form {
  .form-group {
    margin-bottom: 20px;
  }
  .control-box {
    margin-bottom: 20px;
    position: relative;
  }
  .control-label {
    margin-bottom: 10px!important;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
}

.alert-error {
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 9999px;
  margin-left: 54px;
  position: absolute;
  bottom: 0;
  left: 100%;
  color: #fff;
  font-size: 18px;
  background: #ff6363;
  z-index: 1001;
  span {
    display: block;
    width: 200px;
  }
}

.has-error {
  .form-control {
    border-color: #fe6262;
    background: #ffefef;
  }
}

.switcher-off {
  .switcher-label {
    color: #d1d1d1;
  }
}

.switch {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  vertical-align: middle;
  height: 22px;
  width: 48px;
}
.switch.switch-animate .switch-container {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
.switch.switch-on .switch-container {
  margin-left: 0%;
}
.switch.switch-on .switch-label {
  border-radius: 50%;
}
.switch.switch-off .switch-container {
  margin-left: -55%;
}
.switch.switch-off .switch-label {
  border-radius: 50%;
  border-color: #bebebe;
}
.switch.switch-indeterminate .switch-container {
  margin-left: -25%;
}
.switch.switch-disabled,
.switch.switch-readonly,
.switch.switch-indeterminate {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.switch.switch-disabled .switch-handle-on,
.switch.switch-readonly .switch-handle-on,
.switch.switch-indeterminate .switch-handle-on,
.switch.switch-disabled .switch-handle-off,
.switch.switch-readonly .switch-handle-off,
.switch.switch-indeterminate .switch-handle-off,
.switch.switch-disabled .switch-label,
.switch.switch-readonly .switch-label,
.switch.switch-indeterminate .switch-label {
  cursor: default !important;
}
.switch .switch-container {
  display: inline-block;
  width: 150px;
  top: 0;
  border-radius: 20px;
}
.switch .switch-handle-on,
.switch .switch-handle-off,
.switch .switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 22px;
  font-size: 14px;
  line-height: 20px;
}
.switch .switch-handle-on,
.switch .switch-handle-off {
  text-align: center;
  z-index: 1;
  width: 39px;
}

.switch .switch-handle-on.switch-danger,
.switch .switch-handle-off.switch-danger {
  color: #fff;
  background: #ff6140;
}
.switch .switch-handle-on.switch-default,
.switch .switch-handle-off.switch-default {
  color: white;
  background: #bebebe;
}
.switch .switch-handle-on {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  text-indent: -3px;
}
.switch .switch-handle-off {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  text-indent: 3px;
}
.switch .switch-label {
  text-align: center;
  z-index: 100;
  background: #ffffff;
  border-radius: 50%;
  border: 3px solid #ff6140;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  margin: 0 -13px;
  position: relative;
}
.switch input[type='radio'],
.switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.el-count {
  width: 136px;
  height: 34px;
  .el-arrow {
    display: block;
    width: 34px;
    height: 34px;
    float: left;
  }
  .el-field {
    width: 60px;
    height: 34px;
    margin: 0 4px;
    float: left;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border: 0;
    background: none;
  }
}

.el-graph {
  position: relative;
  overflow: hidden;
  .el-count {
    position: absolute;
    top: 50%;
    right: 70px;
  }
}

.el-arrow-minus {@include retina-sprite(icon-minus);}
.el-arrow-plus {@include retina-sprite(icon-plus);}
