= link_to project_forecasts_path(@project) do
  i.glyphicon.glyphicon-arrow-left

h1= @project.name

- @forecast_lines.each do |forecast_line|
  h2= forecast_line.item.name

  .forecast-chart id="forecast-chart-#{forecast_line.id}" style="height:240px"
  
  javascript:
    var data#{forecast_line.id} = #{forecast_line.predicted_values.map(&:to_flot)};
    $.plot("#forecast-chart-#{forecast_line.id}", [data#{forecast_line.id}], {
      series: {
        lines: {
          show: true,
          lineWidth: 1,
          fill: true,
          fillColor: {
            colors: [{
                opacity: 0.2
            }, {
                opacity: 0.1
            }]
          }
        },
        points: {
          show: true
        },
        shadowSize: 0
      },
      grid: {
        hoverable: true,
        clickable: true,
        tickColor: "#f0f0f0",
        borderWidth: 0
      },
      xaxis: { 
        mode: "time"
      },
      tooltip: true,
      tooltipOpts: {
        content: "%x: %y.3",
        defaultTheme: false,
        shifts: {
          x: 0,
          y: 20
        }
      }
    });