%section.dashboard-body
  .container-fluid.globalwidth
    %section.dashboard.projects-dashboard
      .row
        .col-sm-12
          %ul.dashboard-panel
            %li.current
              %a.dashboard-panel-link{:href => ""} Overview
            %li.filter-holder
              .hover-select-box.filter-mod
                %select.selectpicker.filterSelect
                  %option{"data-hidden" => "true", :value => "-1"}
                  %option{:value => "Gross Revenue"} Gross Revenue
                  %option{:value => "Avg. order"} Avg. order
                  %option{:value => "Avg. revenue per customer"} Avg. revenue per customer
                  %option{:value => "Sales per visitor"} Sales per visitor
                  %option{:value => "Avg. Customer Lifetime Value"} Avg. Customer Lifetime Value
                  %option{:value => "Shipping cost as a percentage of total revenue"} Shipping cost as a percentage of total revenue
              %a.dashboard-panel-link{:href => "#"} Finance
            %li.filter-holder
              .hover-select-box.filter-mod
                %select.selectpicker.filterSelect
                  %option{"data-hidden" => "true", :value => "-1"}
                  %option{:value => "Gross Revenue"} Gross Revenue
                  %option{:value => "Avg. order"} Avg. order
                  %option{:value => "Avg. revenue per customer"} Avg. revenue per customer
                  %option{:value => "Sales per visitor"} Sales per visitor
                  %option{:value => "Avg. Customer Lifetime Value"} Avg. Customer Lifetime Value
                  %option{:value => "Shipping cost as a percentage of total revenue"} Shipping cost as a percentage of total revenue
              %a.dashboard-panel-link{:href => "#"} Customers
            %li.filter-holder
              .hover-select-box.filter-mod
                %select.selectpicker.filterSelect
                  %option{"data-hidden" => "true", :value => "-1"}
                  %option{:value => "Gross Revenue"} Gross Revenue
                  %option{:value => "Avg. order"} Avg. order
                  %option{:value => "Avg. revenue per customer"} Avg. revenue per customer
                  %option{:value => "Sales per visitor"} Sales per visitor
                  %option{:value => "Avg. Customer Lifetime Value"} Avg. Customer Lifetime Value
                  %option{:value => "Shipping cost as a percentage of total revenue"} Shipping cost as a percentage of total revenue
              %a.dashboard-panel-link{:href => "#"} Products

      / Big chart date picker
      .row.dashboard-title-row
        .col-sm-6
          %h2 Bling-Blings Dashboard
        .col-sm-6
          .pull-right.datepicker-v1.datepickerComponent
            .pull-left.datepicker-parent
              %input.form-control.datePicker.form-control-small{:type => "text", 'ng-model' => 'vm.range.date'}
            .pull-left
              %select.selectpicker.graphFilterDate{'ng-model' => 'vm.range.period', 'ng-change' => "vm.period_changed()"}
                %option{:selected => true, :value => "0"} Current month
                %option{:value => "1"} Previous month
                %option{:value => "2"} Last 3 month
                %option{:value => "3"} Last 6 month
                %option{:value => "4"} Last year
                %option{:value => "5"} All time

      .dashboard-caption
        %pre
          {{vm.range}}
      / Current status of your primary data
      .graph-unit-holder
        .graph-unit
          .graph-unit-large
            %h5.graph-name Current status of your primary data
            .graph-filters.graph-filter-v1
              .btn-group{:role => "group"}
                %input#graph_filter_1{:checked => "", :hidden => "", :name => "graph_filter", :type => "radio"}
                %label.btn.btn-default.first{:for => "graph_filter_1", :type => "button"} Day
                %input#graph_filter_2{:hidden => "", :name => "graph_filter", :type => "radio"}
                %label.btn.btn-default{:for => "graph_filter_2", :type => "button"} Week
                %input#graph_filter_3{:hidden => "", :name => "graph_filter", :type => "radio"}
                %label.btn.btn-default.last{:for => "graph_filter_3", :type => "button"} Month
            .graph-block
              .graph_3.areaChartFamily_1.d3graph.hide_x_axis
                #tooltip.graph-tooltip-holder.hidden_
                  #tooltip_dot.tooltip-dot
                  #tooltip_content.graph-tooltip

      / Finance overview
      .dashboard-caption
        %h3.caption-text Finance overview
        %i.icon.fa.fa-angle-right
      .graph-unit-holder.graph-unit-hover
        .row
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit.disabled
              / a.graph-u-link(href='total_revenu.html')
              %h5.graph-name Unique users
              .graph-value
                %span.val
                  Google analytics is not available,
                  %br
                    %a{:href => "#"} set up
                    it now
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis

      / Customers overview
      .dashboard-caption
        %h3.caption-text Customers overview
        %i.icon.fa.fa-angle-right
      .graph-unit-holder.graph-unit-hover
        .row
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.areaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.areaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name New & repeat customers
              .graph-value
                %span.val 3.2
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_1.donutChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.areaChart_2.d3graph.hide_x_axis

      / Products overview
      .dashboard-caption
        %h3.caption-text Products overview
        %i.icon.fa.fa-angle-right
      .graph-unit-holder.graph-unit-hover
        .row
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %h5.graph-name Best sellers
              %table.best_sellers
                %tr
                  %td.col_1
                    .seller_name BUNN BXB Velocity Brew 10-Cup Home...
                  %td.col_2 590
                  %td.col_3
                    .seller_val.best_seller $73,490
                %tr
                  %td.col_1
                    .seller_name Kitchen forks
                  %td.col_2 9,389
                  %td.col_3
                    .seller_val.best_seller $43,490
                %tr
                  %td.col_1
                    .seller_name BUNN BXB Velocity Brew 10-Cup Home...
                  %td.col_2 590
                  %td.col_3
                    .seller_val.best_seller $73,490
                %tr
                  %td.col_1
                    .seller_name Kitchen forks
                  %td.col_2 9,389
                  %td.col_3
                    .seller_val.best_seller $43,490
