table.items {
  tr.item {
    a.warning {
      color: #f0ad4e;
      text-decoration: none;
      font-weight: normal;
    }
  }

  tr.new-item {
    input[type=text] {
      width: 90%;
    }

    .form {
      display: none;
    }

    td.file {
      .loading {
        display: none;
      }
      .done {
        display: none;
      }
    }
  }
}