.items {
  .item {
    a.warning {
      color: #f0ad4e;
      text-decoration: none;
      font-weight: normal;
    }
  }

  .new-item {

    display: none;

    input[type=text] {
      width: 90%;
    }

    .file {
      .loading {
        display: none;
      }
      .done {
        display: none;
      }
    }
  }
}