#confirm_address_popup.modal.modal_vert_middle.fade(role = "dialog")
  .modal-dialog.modal_v1
    / Modal content
    .modal-content
      %button.close.fa{"data-dismiss" => "modal", :type => "button"} ×
      .modal-header
        .modal-title &nbsp;
      .modal-body.text-center
        %p
          Confirm your email address
          %br
            %span.address yaosamo@gmail.com
      .form_holder
        .control-box.text-center.btn_holder
          %a.btn-link{:href => "#"} Ok, thanks!
