#password_sended_popup.modal.fade.modal_vert_middle(role = "dialog")
  .modal-dialog.modal_v1
    / Modal content
    .modal-content
      .modal-header
        %button.close.fa{"data-dismiss" => "modal", :type => "button"} ×
        .modal-title &nbsp;
      .modal-body.text-center
        %p= t('landing.password_sended.check_email')
        %span.address {{ vm.restore_pass_email }}
      .form_holder
        .control-box.text-center.btn_holder
          %a.btn-link(href = "" ng-click="vm.modal('password_sended_popup', 'close')")= t('landing.password_sended.ok')
