#subscription_expired.modal.fade(role = "dialog")
  .modal-dialog.modal_v1
    / Modal content
    .modal-content
      .modal-header
      .modal-body
        чувак, тиал закончился, выбери подписку
        %a.btn.btn-lg.btn-danger(data-dismiss="modal") Хорошо
