<!DOCTYPE html>
<html>
<head>
  <title>Dynamica</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dynamica</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign in</a></li>
    </ul>

    <a class="btn btn-info navbar-btn navbar-right" href="#">Sign up</a>

  </div>
</nav>

<%= yield %>

</body>
</html>
