!!!
%html{lang: "en"}
  %head
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{charset: "utf-8"}
    %meta{content: t('.meta.description'), name: "description"}
    %title Shopify integration

    %link{rel: "apple-touch-icon", href: asset_path('apple-touch-icon.png')}
    %link{rel: "apple-touch-icon", href: asset_path('apple-touch-icon-76x76.png')  , sizes: '76x76'}
    %link{rel: "apple-touch-icon", href: asset_path('apple-touch-icon-120x120.png'), sizes: '120x120'}
    %link{rel: "apple-touch-icon", href: asset_path('apple-touch-icon-128x128.png'), sizes: '128x128'}
    %link{rel: "apple-touch-icon", href: asset_path('apple-touch-icon-152x152.png'), sizes: '152x152'}
    %link{rel: "apple-touch-icon", href: asset_path('apple-touch-icon-180x180.png'), sizes: '180x180'}
    %link{rel: "apple-touch-icon", href: asset_path('apple-touch-icon-192x192.png'), sizes: '192x192'}
    %link{rel: "apple-touch-icon", href: asset_path('apple-touch-icon-200x200.png'), sizes: '200x200'}

    %link{href: "/favicon.ico", rel: ("shortcut icon"), type: "image/x-icon"}

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .page
      .section.case-landing
        .rowspan.row2.row-even
          .container-fluid.globalwidth
            = yield
