!!!
%head
  %meta{:charset => "utf-8"}/
%body{:style => "font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;"}
  / logo block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:40px 0 30px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300" align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %span{:style => "display:inline-block; width:305px; padding-left: 20px;"}
                  %a{:href => "#", :style => "\n              width: 89px;\n              height: 24px;\n              font-size: 20px;\n              font-weight: 600;\n              color: #2f2f2f;\n              text-decoration: none;\n            "} Dynamica
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / title block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 40px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td{:style => "vertical-align: middle;"}
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300" align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %span{:style => "\nwidth:285px; \ndisplay:inline-block;\nvertical-align: middle;\npadding-left: 20px; \nheight: 70px;\nfont-size: 30px;\ncolor: #000;\n"}
                  Weekly Reporting for Bling-Blings
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr>
                  <td style="vertical-align: middle;">
                / Блок номер 2
                %span{:style => "display:inline-block; text-align: right; width:285px; padding-right: 20px;"}
                  %a{:href => "#", :style => "\ndisplay: inline-block;\nvertical-align: middle;\nheight: 40px;\nline-height: 40px;\ncolor: #fff;\npadding: 0 32px;\ntext-decoration: none;\nborder-radius: 20px;\nbackground-color: #ff2b1d;\n             "} See on Dynamica
                / Блок номер 2
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / revenu title block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 20px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td{:style => "vertical-align: middle;"}
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300" align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %span{:style => "\npadding-left: 20px;\nfont-size: 20px;\ncolor: #000;\n  "}
                  Weekly Revenue
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / revenu graph block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 40px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td{:style => "vertical-align: middle;"}
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300" align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %a{:href => "#", :style => "\ndisplay: inline-block;\nvertical-align: top;\nmax-width: 100%;\ntext-align: center;\n  "}
                  %img{:alt => "Weekly revenu", :src => "images/email_large_graph_0.jpg", :style => "\n            display: inline-block;\n            vertical-align: top;\n            max-width: 100%;\n            "}
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / revenu title block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 20px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td{:style => "vertical-align: middle;"}
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300" align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %span{:style => "\npadding-left: 20px;\nfont-size: 20px;\ncolor: #000;\n  "}
                  Weekly Sales
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / revenu graph block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 40px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td{:style => "vertical-align: middle;"}
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300" align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %a{:href => "#", :style => "\ndisplay: inline-block;\nvertical-align: top;\nmax-width: 100%;\ntext-align: center;\n  "}
                  %img{:alt => "Weekly revenu", :src => "images/email_large_graph_1.jpg", :style => "\n            display: inline-block;\n            vertical-align: top;\n            max-width: 100%;\n            "}
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / Visitors title block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 20px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td{:style => "vertical-align: middle;"}
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300" align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %span{:style => "\npadding-left: 20px;\nfont-size: 20px;\ncolor: #000;\n  "}
                  Visitors
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / Visitors graph block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 40px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300"
                  align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %a{:href => "#", :style => "display:inline-block; width:305px; text-align: center;"}
                  %img{:alt => "Weekly revenu", :src => "http://localhost:3000/draw/block?project_id=5&from=12.08.2013&to=12.08.2015", :style => "\n            display: inline-block;\n            vertical-align: top;\n            max-width: 100%;\n            "}
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr>
                  <td>
                / Блок номер 2
                %a{:href => "#", :style => "display:inline-block; width:305px; text-align: center;"}
                  %img{:alt => "Weekly revenu", :src => "images/email_small_graph_0.jpg", :style => "\n            display: inline-block;\n            vertical-align: top;\n            max-width: 100%;\n            "}
                / Блок номер 2
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / Products title block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 20px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td{:style => "vertical-align: middle;"}
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300" align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %span{:style => "\npadding-left: 20px;\nfont-size: 20px;\ncolor: #000;\n  "}
                  Products
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / Products graph block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 40px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300"
                  align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %a{:href => "#", :style => "display:inline-block; width:305px; text-align: center;"}
                  %img{:alt => "Weekly revenu", :src => "images/email_small_graph_2.jpg", :style => "\n            display: inline-block;\n            vertical-align: top;\n            max-width: 100%;\n            "}
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr>
                  <td>
                / Блок номер 2
                %a{:href => "#", :style => "display:inline-block; width:305px; text-align: center;"}
                  %img{:alt => "Weekly revenu", :src => "images/email_small_graph_3.jpg", :style => "\n            display: inline-block;\n            vertical-align: top;\n            max-width: 100%;\n            "}
                / Блок номер 2
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / See on Dynamica graph block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0 0 40px; padding:0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td{:style => "text-align: center;"}
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300"
                  align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %a{:href => "#", :style => "\ndisplay: inline-block;\nvertical-align: middle;\nheight: 40px;\nborder-radius: 20px;\nbackground-color: #ff2b1d;\nline-height: 40px;\nfont-size: 15px;\ncolor: #fff;\npadding: 0 32px;\ntext-decoration: none;\n                    "}
                  See on Dynamica
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
  / footer graph block
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
    %tr
      %td{:align => "center", :bgcolor => "#6c6c6c"}
        %center{:style => "max-width: 620px; width: 100%;"}
          /[if gte mso 9]
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
            <tr>
            <td>
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin:0; padding:0", :width => "100%"}
            %tr
              %td{:style => "\npadding: 50px;\ntext-align: center; \nfont-size: 12px;\ncolor: #f4f5f5;\n  "}
                /[if gte mso 9]
                  <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                  <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="300"
                  align="center">
                  <tr>
                  <td>
                / Блок номер 1
                %span{:style => "\nfont-size: 12px;\ncolor: #f4f5f5;\ndisplay: inline-block;\nvertical-align: top;\nmax-width: 400px;\n                                "}
                  Dynamica sends email summaries every week and month.
                  %br
                    If you no longer want to receive these updates, you may edit your preferences here or
                    unsubscribe.
                    %br
                      ©2016 Dynamica
                / Блок номер 1
                /[if gte mso 9]
                  </td></tr></table>
                  </td>
                  </tr></table>
          /[if gte mso 9]
            </td></tr></table>
